body {
  font-family: 'Roboto';
  background-color: #262626;

}

.card {
  border-style: none;
}

.card img {
   padding: 3%;
   height: 300px;
   width: 100%;
}

.alt-navbar-style {

}

.carousel {
  margin: 40px 0 35px;
  width: 111%;
  position: relative;
  right: 6%;
}

.carousel-item {
  text-align: center;
}

 .carousel-image {
  height: 630px;
  background-size:contain;
  width: 100%;
  /* border-radius: 10%; */
}

.contact-me {
   position: relative;
   bottom: 10px;
   width:100%;
   background-color: black;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.custom-nav-data {
  margin: 1% 5% 0;
  padding: 0;
}

.nav-item a {
  color: white;
  font-size: 1rem;
  font-weight: 900;
}

.navbar-brand {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 65px;
}

#aboutmecontent{
  font-size: 24px;
}

#contact-me {
   width:100%;
   background-color: black;
   padding: 1%;
   left: 0;
   bottom: 0;
}

#essaycontent{
  font-size: 16px;
}

#news {
  padding: 7% 5%;
  background-color: white;
}

#title {
  background-color: #262626;
  padding: 3% 10% 65px;
}
