body {
  font-family: 'Montserrat';
  background-color: #262626;
}

.carousel-item {
  padding-top: 5%;
  text-align: center;

}

.carousel-image {
  height: 500px;
  width: 1100px;
  /* border-radius: 10%; */
}

.contact-me {
   position: relative;
   bottom: 10px;
   width:100%;
   background-color: black;
}

.about{
  font-size: 20px;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}


#title {
  background-color: #262626;
  padding: 3% 10%;
}

#news {
  padding: 7% 15%;
}

#contact-me {
   width:100%;
   background-color: black;
   padding: 1%;
}
