body {
  font-family: 'Roboto';
  background-color: #262626;

}

.card {
  border-style: none;
}

.card img {
   padding: 3%;
   height: 300px;
   width: 100%;
}

.carousel {
  margin: 40px 0 35px;
  width: 112.4%;
  position: relative;
  right: 6.2%;
}

.carousel-item {
  text-align: center;
}

 .carousel-image {
  height: 630px;
  background-size:contain;
  width: 100%;
  /* border-radius: 10%; */
}

.contact-me {
   position: relative;
   bottom: 10px;
   width:100%;
   background-color: black;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.custom-nav-data {
  margin: 0 5%;
  padding: 24px 0;
  border-bottom: 1px inset rgba(255, 255, 255, 0.3)
}

.nav-link {
  font-size: 1rem;
  font-weight: 900;
  color: black;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 65px;
}

#aboutmecontent{
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
  color: #333;
  /* background-color: yellow; */
}

#contact-me {
   width:100%;
   background-color: black;
   padding: 1%;
   left: 0;
   bottom: 0;
}

#essaycontent{
  font-size: 16px;
}

#news {
  padding: 7% 5%;
  background-color: white;
}

#title {
  background-color: #262626;
  padding: 3% 10% 65px;
}

/* Modified Styles for js */

.t-sticky-navbar-bg--dark {
  transition: 0.5s;
  background-color: #262626;
  box-shadow: none;
}

.t-sticky-navbar-text--dark {
  transition: 0.5s;
  color: white;
  box-shadow: none;
}

.sticky-navbar-bg--dark {
  background-color: #262626;
  box-shadow: none;
}

.sticky-navbar-text--dark {
  color: white;
  box-shadow: none;
}

.sticky-navbar-div--noBorder {
  border-bottom: none;
}
