<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}
  <div class="container-fluid">
    <div class="h-100 p-5 text-white bg-dark rounded-3" style="--bs-bg-opacity: .5;  margin-top: 25px;">
      <h1>About Us</h1>
      <p>503(c) non-profit</p>
      <p>This non-profit seeks to employ local initiatives as well as represent geographical data online that will affect the Tampa bay area in a positive way.</p>
      <p>The red tide has caused devastating effects to our coasts, however this project seeks to control eutrophication and improve the quality of the Bay’s water through bivalve aquaculture.</p>
      <p>Terra Corp is a 503(c) non-profit whose goal is to agriculturally produce indigenous oysters while also providing the local food pyramid with much needed primary consumers.</p>
      <p>Terra Corp would employ students as a source for semi-educated labor while providing practical education.
        On a larger scale the ambition would be to work in conjunction with other local non-profits (UACDC) in job placement to help employ lower income individuals with consistent work.
        This business model is already proven successful as only one family owned for profit company operates in the Tampa bay area.</p>
    </div>
  </div>
{% endblock %}
