<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}

<section id="title">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="carousel-image" src='../../static/images/hat_lohr_one.jpg' alt="404">
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src='../../static/images/hat_lohr_two.jpg' alt="404">
      </div>
      <div class="carousel-item">
        <img class="carousel-image" src='../../static/images/hat_lohr_three.jpg' alt="404">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>

<section id="news">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News Card One</h5>
          <p class="card-text">News article description.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News Card Two</h5>
          <p class="card-text">News article description.</p>
          <a href="#" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News Card Three</h5>
          <p class="card-text">News article description.</p>
          <a href="#" class="btn btn-primary">GLink</a>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="contact-me">
  <h3 style="text-align: center; color:white"><strong>Contact info</strong></h3>
  <div class="award">
    <!-- <p style="text-align: center; color:white"><strong>Gmail</strong></p> -->
    <!-- <p style="text-align: center;"><img src="image link" height="20px" width="20px" border="1px"></p> -->
    <p style="text-align:center;color:white">Email: andrewlarson@email.com</p>
    <p style="text-align:center;color:white">Phone: (401)-283-4932</p>
  </div>
</section>


{% endblock %}
