body {
  font-family: 'Montserrat';
  background-color: #262626;
}


.carousel-item {
  padding-top: 3%;
  text-align: center;

}

.carousel-image {
  height: 500px;
  width: 1000px;
  border-radius: 5%;
}

.contact-me {
   position: relative;
   bottom: 10px;
   width:100%;
   background-color: black;
}

.about{
  font-size: 20px;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}


#title {
  background-color: #262626;
  padding: 3% 10%;
}

#news {
  padding: 7% 15%;
  background-color: white;
}

#contact-me {
   width:100%;
   background-color: black;
   padding: 1%;
}

#about_me{
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

#carrers{
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;


}
