<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}

<section class="image-title">
  <div class="p-5 bg-light" style=" background-position: 50% 85%; background-size: cover; background-repeat: no-repeat; background-image: url('../../static/images/water_science.avif');">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center text-white">Save The World</h1>
      <h3 class="text-center text-white">Starting with Tampa Bay</h3>
    </div>
  </div>
</section>
<div class="p-5 bg-light">
  <div class="container-fluid py-5 ">
    <h1 class="display-5 fw-bold">Internship Oppertunities</h1>
    <h2 class="col-md-8 fs-4">Apply below for an oppertunity to get in contact with us about internship oppertunities and take your first step in saving the world. </h2>
    <h3>Qualifications</h3>
    <ul>
      <li>Pursuing Bachelor's degree in a Science or Engineering discipline</li>
      <li>0-2 Years experience, or relevant coursework</li>
      <li>Willingness to learn and to apply current coursework as needed</li>
      <li>Ability to work remotely and/or at a site location</li>
      <li>Ability to work with and contribute to a team</li>
      <li>Valid Driver's License</li>
      <li>GIS skills prefered</li>
    </ul>
    <h3>Responsibilities</h3>
    <ul>
      <li>Depending on location, this could involve work in a remote or office setting, as well as possible field work, and may include the following</li>
      <li>Support role in the Environmental committee accomplishing site analysis</li>
      <li>Field work potentially including site investigations, collection of site samples, remedial activities, operations & maintenance</li>
      <li>Hydrological reasearch of the Tampa Bay area</li>
      <li>Environmental report and/or plan preparation</li>
      <li>(Applicable to engineering applicants) Knowledge of chemical processes pertaining to Uranium recovery from PGA wates.</li>
    </ul>
    <h1>Career sign up</h1>
    <form method="POST">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" class='btn btn-info' value="Submit">
    </form>
  </div>
</div>



<script src="../../static/javascript/carrers.js" charset="utf-8"></script>
{% endblock %}
