<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}

<section id="title">
  <div class="custom-carousel">
    <video autoplay muted loop class="title-video">
      <source src="../../static/videos/option1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="mission-statement">
    <p class="mission-statement--title">Mission Statement</p>
    <p class="mission-statement--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque nec nam aliquam sem et. Semper auctor neque vitae tempus quam pellentesque. Amet consectetur adipiscing elit ut aliquam.</p>
  </div>
</section>

<section id="news">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <a href="https://coast.noaa.gov/digitalcoast/training/oyster-aquaculture.html">
          <img src="../../static/images/clint-patterson-SFe3ldnqVr0-unsplash.jpg" class="card-img-top" alt="404">
        </a>
        <div class="card-body">
          <h5 class="card-title">On the Forefront of Nutrient Credit Trading Using Oysters: Lessons Learned</h5>
          <p class="card-text">Oysters are prolific filter feeders that remove light-blocking algae from bay waters and help remove excess nutrients, like nitrogen and phosphorus. More oysters equal better water quality.</p>
          
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <a href="https://www.tampabay.com/news/business/2022/02/17/florida-skanska-executive-talks-tampa-bay-construction-and-need-for-diversity/">
          <img src="https://img.wallpapersafari.com/desktop/1680/1050/46/39/FNP4yJ.jpg" class="card-img-top" alt="404">
        </a>
        <div class="card-body">
          <h5 class="card-title">Florida Skanska executive talks Tampa Bay construction and need for diversity</h5>
          <p class="card-text">There’s a lot more prefabrication, especially using precast as opposed to cast in place of concrete, without getting overly technical.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <a href="https://www.swfwmd.state.fl.us/blog/watermatters-magazine/53/district-port-authority-partner-improve-mckay-bay">
          <img src="../../static/images/michael-schaffler-4Cz2SjSU6U0-unsplash.jpg" class="card-img-top" alt="404">
        </a>
        <div class="card-body">
          <h5 class="card-title">District, Port Authority Partner to Improve McKay Bay</h5>
          <p class="card-text">Three projects are expected to have a positive impact on the bay when they are completed.</p>
          
        </div>
      </div>
    </div>
  </div>

  <!--
  <iframe src="https://www.arcgis.com/apps/instant/basic/index.html?appid=ee3da0b52a45470588b1ce87958b6ef7" width="400" height="600" frameborder="0" style="border:0" allowfullscreen>iFrames are not supported on this page.</iframe> -->
</section>

<section id="contact-me">
  <h3 style="text-align: center; color:white"><strong>Contact info</strong></h3>
  <div class="award">
    <!-- <p style="text-align: center; color:white"><strong>Gmail</strong></p> -->
    <!-- <p style="text-align: center;"><img src="image link" height="20px" width="20px" border="1px"></p> -->

    <p style="text-align:center;color:white">Email: larsonality1@gmail.com</p>
    <p style="text-align:center;color:white">Phone: (757)-617-9830</p>
  </div>
</section>
<script src="../../static/javascript/index.js" charset="utf-8"></script>
{% endblock %}
