<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}

<section id="title">
  <div class="custom-carousel">
    <video autoplay muted loop class="title-video">
      <source src="../../static/videos/option1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="mission-statement">
    <p class="mission-statement--title">Mission Statement</p>
    <p class="mission-statement--description">Our mission is to restore degraded ecosystems through the wholistic use of natural processes</p>
  </div>
</section>

<section id="about-me">
  <div class="row about-me-content">
    <div class="col-md-6 about-me-title">
      <img class="logo" src="../../static/images/Green_logo_finished.png"  alt="404">
    </div>
    <div class="col-md-6">
      <p>This non-profit looks to employ local initiatives as well as represent geographical data online that will affect the Tampa Bay area in a positive way.</p>
      <p>The red tide has caused devastating effects to our coasts; however, this project seeks to control eutrophication and improve the quality of the Bay’s water through bivalve aquaculture.</p>
      <p>Terra Corp is a 501(3)(c) non-profit whose goal is to agriculturally produce indigenous oysters while also providing the local food pyramid with much needed primary consumers.</p>
      <p>Terra Corp would employ students as a source for semi-educated labor while providing practical education. On a larger scale the ambition would be to work in conjunction with other
        local non-profits (UACDC) in job placement to help employ lower income individuals with consistent work. This business model has already been proven successful as only one family
        owned for profit company operates in the Tampa Bay area.</p>
    </div>
  </div>
</section>

<!-- Larson essay content -->
<section id='essaycontent'>
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="essay-link" href="{% url 'basicapp:essay' %}"><h1>Nutrient Dynamics in the Tampa Bay Watershed</h1></a>
        <br>
        <h4>Tampa bay is a diverse area ranging from a dense urban downtown to suburban and resort locations. This development diversity requires Tampa to have equally intricate
          legislation to maintain the quality of the watershed it resides in. Quite often the bay and beaches are subject to massive algal blooms, some more toxic than others. As tourism is
          a major economic factor in the city, government officials recognize this and attempt to maintain levels of water quality that result in these blooms...click the title to learn more!
        </h4>
      </div>
      <div class="col larson-div" >
        <img class="larson" src="../../static/images/larson_new.JPG" alt="44044">
      </div>
    </div>
  </div>
</section>

<section id="news">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <a id="news-link1" class="news-link" href="https://coast.noaa.gov/digitalcoast/training/oyster-aquaculture.html">
          <div class="card-img-containter">
            <img src="../../static/images/clint-patterson-SFe3ldnqVr0-unsplash.jpg" class="card-img-top" alt="404">
            <div class="img-overlay">
              <p>Learn More</p>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">On the Forefront of Nutrient Credit Trading Using Oysters: Lessons Learned</h5>
          <p class="card-text">Oysters are prolific filter feeders that remove light-blocking algae from bay waters and help remove excess nutrients, like nitrogen and phosphorus. More oysters equal better water quality.</p>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <a id="news-link2" class="news-link" href="https://www.tampabay.com/news/business/2022/02/17/florida-skanska-executive-talks-tampa-bay-construction-and-need-for-diversity/">
          <div class="card-img-containter">
            <img src="https://img.wallpapersafari.com/desktop/1680/1050/46/39/FNP4yJ.jpg" class="card-img-top" alt="404">
            <div class="img-overlay">
              <p>Learn More</p>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">Florida Skanska executive talks Tampa Bay construction and need for diversity</h5>
          <p class="card-text">There’s a lot more prefabrication, especially using precast as opposed to cast in place of concrete, without getting overly technical.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <a id="news-link3" class="news-link" href="https://www.swfwmd.state.fl.us/blog/watermatters-magazine/53/district-port-authority-partner-improve-mckay-bay">
          <div class="card-img-containter">
            <img src="https://i.insider.com/58a4c46601fe58ac008b4c64?width=1200&format=jpeg" class="card-img-top" alt="404">
            <div class="img-overlay">
              <p>Learn More</p>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">District, Port Authority Partner to Improve McKay Bay</h5>
          <p class="card-text">Three projects are expected to have a positive impact on the bay when they are completed.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section id="arcGIS-section">
  <iframe src="https://www.arcgis.com/apps/instant/basic/index.html?appid=ee3da0b52a45470588b1ce87958b6ef7" width="400" height="600" frameborder="0" style="border:0" allowfullscreen>iFrames are not supported on this page.</iframe>
</section>
-->

<section id="contact-me">
  <p>Contact Info</p>
  <address>terraphidelis@gmail.com</address>
  <a class="linkedin" href="https://www.linkedin.com/company/terra-phidelis-corp/">
    <img class="social-icon" src="../../static/images/linkedin_icon.png" alt="linkedin_icon">
  </a>
</section>

<script src="../../static/javascript/index.js" charset="utf-8"></script>
{% endblock %}
